<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    {% block social %}{% endblock %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>